.header {
  background: url('./header-bg-compressor.jpg') no-repeat center center;
  background-size: cover;
  height: calc(100vh - 30px);
  display: grid;
  grid-template-columns: 40% 55%;
  grid-template-rows: 
    25%
    40%
    25%;
  grid-template-areas:
  ".       ."
  "caption ."
  ".       .";
  align-content: space-around;
  justify-content: space-around;
}
.header__text {
  font-family: 'Teko', sans-serif;
  font-size: 7vmax;
  text-align: left;
  line-height: 0.9;
  color: white;
  grid-area: caption;
}
.header__image__caption {
  position: absolute;
    bottom: 0px;
    right: 0px;

  padding: 5px;
  margin: 0;
  color: white;
}
  .header__image__caption > a {
    text-decoration: none;
    color: inherit;
  }
  .header__image__caption > a:hover {
    color: #6F8855;
  }