body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

/*
.color-primary-0 { color: #523020 } // Main Primary color
.color-primary-1 { color: #96705E }
.color-primary-2 { color: #604436 }
.color-primary-3 { color: #3D1E10 }
.color-primary-4 { color: #250E03 }

.color-secondary-1-0 { color: #192436 } // Main Secondary color (1)
.color-secondary-1-1 { color: #424E64 }
.color-secondary-1-2 { color: #273040 }
.color-secondary-1-3 { color: #0D1728 }
.color-secondary-1-4 { color: #040C19 }

.color-secondary-2-0 { color: #354A1D } // Main Secondary color (2)
.color-secondary-2-1 { color: #6F8855 }
.color-secondary-2-2 { color: #455731 }
.color-secondary-2-3 { color: #23370E }
.color-secondary-2-4 { color: #132203 }
*/
