.card_deck {
  height: 40vh;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 70% 30%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.listen:hover, .create:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
  z-index: 1;
}
.card__title {
  color: white;
  font-size: 5vw;
}
.card__read_more {
  font-size: 1.3em;
  border-radius: 10px;
  border: 2px solid white;
  background-color: white;

  position: absolute;
  bottom: 15px;
}
.card__read_more:hover {
  color: white;
  background-color: transparent;
}
.listen {
  background: url('./listen.jpg') no-repeat center center;
  background-size: cover;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1;
}
.listen__mobile_icons {
  border-left: 1px solid black;
}
.listen__mobile_icons > div {
  /* Placeholder for mobile icons */
  background-color: black;
  height: 100px;
  width: 100px;
  margin: 5px;
}
.create {
  background: url('./create.jpg') no-repeat center center;
  background-size: cover;
}